<div class="user-whole-page">



<div class="user-top-container">
    <div class="user-top-item-photo">
        <% if @user.photo.attached? %>            
            <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
        <%else %>
            <img src="https://res.cloudinary.com/tobysangster/image/upload/v1606405986/b0du5258c1stu2l53y9b98rk36yg.jpg" >
        <%end%>
    </div>
    <div class="user-top-item-info">
            <h2><%= @user.nickname %>Test</h2>
            <h3><%= @user.email %></h3>
    </div>
    <div class="user-top-item-space"></div>
    <div class="user-top-item-achievements">
        <div class="achievements"><i class="fas fa-trophy"></i><p>100</p></div>
        <div class="hoursplayed"><i class="fas fa-clock"></i><p>100</p></div>
        <div class="gamesplayed"><i class="fas fa-gamepad"></i><p>100</p></div>
    </div>
</div>








<div class="tabs">
  <input name="tabs" type="radio" id="tab-1" checked="checked" class="input"/>
  <label for="tab-1" class="label">Activity Feed</label>
  <div class="panel">
    <div class="area">
    <h1>Activity Feed</h1>
    <p>The orange (specifically, the sweet orange) is the fruit of the citrus species Citrus × sinensis in the family Rutaceae</p>
    <p>The fruit of the Citrus × sinensis is considered a sweet orange, whereas the fruit of the Citrus × aurantium is considered a bitter orange. The sweet orange reproduces asexually (apomixis through nucellar embryony); varieties of sweet orange arise through mutations.</p>
    </div>
  </div>

  <input name="tabs" type="radio" id="tab-2" class="input"/>
  <label for="tab-2" class="label">Wall</label>
  <div class="panel">
    <div class="area">
      </div>
  </div>

  <input name="tabs" type="radio" id="tab-3" class="input"/>
  <label for="tab-3" class="label">Who's Online?</label>
  <div class="panel">
      <div class="area">

    <h1>Who's Online?</h1>
    <div>
      <% @users.each do |user| %>
        <li><i class="fas fa-circle"></i> <%= link_to user.nickname, user_path(user) %>
        <% unless current_user.friends_with?(user) %>
          <%= link_to "add friend", add_friends_path(user: user.id), method: :post %></li>
        <% else %>
          <%= link_to "remove friend", remove_friends_path(user: user.id), method: :post %></li>
        <% end %>
      <% end %>
    </div>
      </div>

  </div>


  <input name="tabs" type="radio" id="tab-4" class="input"/>
          <label for="tab-4" class="label">Friends</label>
          <div class="panel">
            <h1>Friends</h1>
            <% if @user.friends.present? %>
              <% @user.friends.each do |friend| %>
                <li><p><%= link_to friend.nickname, user_path(friend) %></p></li>
                <% if @user == current_user %>
                <%= link_to "remove friend", remove_friends_path(user: friend.id), method: :post %>
                <% end %>
              <% end %>
            <% else %>
              <p><%= @user.nickname %> doesn't have any friends yet</p>
            <% end %>
          </div>


</div>



</div>

</div>


    <%= simple_form_for([current_user,@post]) do |f| %>
        <%= f.input :content, label: false  %>
        <%= f.input :photo, as: :file, label: false  %>
        <%= f.button :submit, "Create New Post", class: "create-post-button " %>
      <% end %>
      <ul><% current_user.posts.each do |post| %>
        <li>
          <% if post.photo.attached? %>
          <%= cl_image_tag post.photo.key, height: 100, width: 100, crop: :fill %>
          <% end %>
        <h5><%= post.content %></h5>
          <% if post.user == current_user %>
          <br><%= link_to 'Delete Post'.html_safe, post_path(post), method: :delete, class: "delete-button" %></p>
          <% end %>
          <% post.comments.each do |comment| %>
          <p class="comments"> <%= comment.content %>
          <% if comment.user == current_user %>
          <br><%= link_to 'Delete comment'.html_safe, comment_path(comment), method: :delete, class: "delete-button" %></p>
          <% end %>
          <% end %> 
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg-<%=post.id%>">Comment</button>
          <div class="modal fade bd-example-modal-lg-<%=post.id%>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg-<%=post.id%>">
              <div class="modal-content">
              <h5><%= post.content %></h5>
                  <% post.comments.each do |comment| %>
                    <ul>
                      <li>
                        <div class="posts-modal-box"><p class="modal-content"><%= comment.content %></p></div>
                        <div><p class="modal-button"><%= link_to 'delete', comment_path(comment), method: :delete %></p></div>
                      </li>
                    </ul>
                        <% end %>
                          <%= simple_form_for [current_user,post,@comment] do |f| %>
                          <%= f.input :content, label: false %>
                          <%= f.submit :comment, class: 'modal-button' %>
                          <% end %>
                    </li>
                    <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
