


<div class="dashboardbody">



  <div class="dashboard-top">
      <div class="dashboard-top-text">
        <div class="dashboard-top-top">
        </div>
        <div class="dashboard-top-bottom">
            <h4>Dashboard</h4>
        </div>
      </div>
      <div class="dashboard-top-search">
        <h4><i class="fas fa-search"></i></h4>
      </div>
  </div>
  <div class="other-top">
    <div class="other-top-left"><p>Favourites<p></div>
    <a class="other-top-right" id="" role="link" href="/games">View More</a>  </div>
  <div class="display-favourites">
    <div class="cards">
      <% current_user.games.each do |game| %>
        <%= link_to game_path(game) do %>
          <figure class="dashboard-card">
          <img src="<%= cl_image_path game.photo.key %>">
          <%# <p class="img-description"><%= game.name %></p>
          </figure>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="other-top">
    <p>News</p>
  </div>

  <div class="news">
    <figure class="article1">
      <a href="games/2"><img src="https://image-cdn.essentiallysports.com/wp-content/uploads/20201028144137/cyberpunk-2077-is-delayed-again-to-december-1600x900.jpg" /></a>
        <figcaption>
          <h4>NIGHT CITY CHANGES EVERY BODY</h4>
          <p>
            Cyberpunk 2077 is an open-world, action-adventure story set in Night City, a megalopolis obsessed with power, glamour and body modification. You play as V, a mercenary outlaw going after a one-of-a-kind implant that is the key to immortality. You can customize your character’s cyberware, skillset and playstyle, and explore a vast city where the choices you make shape the story and the world around you.        </p>
          </p>
        </figcaption>
    </figure>
    <figure class="article2">
     <img src="https://www.busstheworld.com/wp-content/uploads/2020/09/GeForce-RTX-3080.png" />
      <figcaption>
        <h4>Nvidia RTX 3080 wins Best Gaming Hardware</h4>
        <p>
          The NVIDIA GeForce RTX 3080 has been voted the Best Gaming Hardware at this year's Golden Joystick Awards. The win marks back-to-back victories for NVIDIA, which also claimed the title in 2019 for its 20-series graphics cards.
        </p>
      </figcaption>
    </figure>
  </div>


  <div class="news-cards">
  <% @articles.first(4).each do |article| %>
    <div class="news-card content">
      <div class="news-card-content">
        <div class="news-card-img">
          <%= image_tag article.image_url %>
        </div>
        <div class="news-card-label">E-Sports</div>
        <div class="news-card-title">
          <%= article.title %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

<div class="games">
  <% @games.each do |game| %> 
    <%= link_to game_path(game) do %>
    <% if game.photo.attached?  %>
      <%= cl_image_tag(game.photo.key, class: "d-block w-100 carousel-img-size") %>
    <% end %>
    <% end %>
  <% end %>
</div>

<button class="prev">Prev</button>
<button class="next">Next</button>


  <div class="exclusive-top">
    <h4>Hub Club</h4>
  </div>
  <div class="exclusive-container-top">
    <div class="exclusive-left-top">
    <img src="https://media0.giphy.com/media/LCmDrFzxMU7zXpOMRe/giphy.gif" alt="">
    </div>
    <div class="exclusive-right-top">
      <p>The club is a global community of passionate, active gamers with exclusive access to our most sought after products, experiences and offers.</p>
      <div class="club-container">
        <div class="club-item">
          <i class="fas fa-fist-raised"></i>
          <p>PRIORITY AT</p>
          <p>HUB</p>
        </div>
        <div class="club-item">
          <i class="fas fa-tshirt"></i>
          <p>MEMBER-ONLY</p>
          <p>PRODUCTS</p>
        </div>
        <div class="club-item">
          <i class="fas fa-hashtag"></i>
          <p>SOCIAL NETWORK</p>
          <p>PERKS</p>
        </div>
        <div class="club-item">
          <i class="fas fa-gamepad"></i>
          <p>ACCESS HUB</p>
          <p>EXCLUSIVES</p>
        </div>
        <div class="club-item">
          <i class="far fa-building"></i>
          <p>MEETING PLACES</p>
        </div>
      </div>
      <div class="club-button">
            <button type="button" class="btn btn-secondary club">Learn More</button>
      </div>
    </div>
  </div>



  <div class="exclusive-container-bottom">
    <div class="exclusive-left-bottom">

    </div>
    <div class="exclusive-right-bottom">
    </div>
  </div>
































</div>




