<div class="dashboardbody">
  <div class="dashboard-top">
    <div class="dashboard-top-text">
        <h1>We are HUB.</h1><h4> We want to make social gaming work for everyone. This is your HUB to connect, share, and embrace the new world of online gaming. Buckle up.</h4>

    </div>
  </div>

  <div class="other-top">
    <div class="other-top-left"><h2>Favourites<h2></div>
    <a class="other-top-right" id="" role="link" href="/games">View More</a>
  </div>
  <p class="text-dashboard">From exceptional AAAs, unique indies to the best of classic gaming. Your favourite games arranged beautifully for you by the team at <strong>HUB</strong></p>
  <div class="display-favourites">
    <div class="cards">
      <% current_user.games.each do |game| %>
        <%= link_to game_path(game) do %>
          <figure class="dashboard-card">
           <% if game.photo.attached?  %>
          <img src="<%= cl_image_path game.photo.key %>">
          <%# <p class="img-description"><%= game.name %></p>
          </figure>
        <% end %>
        <% end %>

      <% end %>
    </div>
  </div>

  <div class="other-top"><h2>News</h2></div>
  <p class="text-dashboard">Be the first in the know about the hottest releases. <strong>HUB</strong> is supported by its audience. We don't sell your data. When you purchase through links on our site, we may earn an affiliate commission. The same attention we're giving to pick great games, is given to highlighting them on <strong>HUB</strong> - treating each release as a celebration.</p>

  <div class="news">
    <figure class="article1">
      <a href="games/2"><img src="https://www.essentiallysports.com/wp-content/uploads/Is-Apex-Legends-crossplay-When-cross-platform-multiplayer-for-PS4-Xbox-One-and-PC-is-being-added-2.jpg" /></a>
        <figcaption>
          <h4>Apex Legends' Most Popular Season 7 Characters Revealed By Developer</h4>
          <p>
              Respawn Entertainment's surprised many on Twitter by revealing what the five most popular characters have been during Apex Legends seventh season.

          </p>
        </figcaption>
    </figure>
    <figure class="article2">
     <img src="https://www.busstheworld.com/wp-content/uploads/2020/09/GeForce-RTX-3080.png" />
      <figcaption>
        <h4>Nvidia RTX 3080 wins Best Gaming Hardware</h4>
        <p>
          The NVIDIA GeForce RTX 3080 has been voted the Best Gaming Hardware at this year's Golden Joystick Awards. The win marks back-to-back victories for NVIDIA, which also claimed the title in 2019 for its 20-series graphics cards.
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="other-top"><h2>Browse</h2></div>
  <p class="text-dashboard">Offering games with as many goodies as possible is the <strong>HUB</strong> way - even if it means exploring our long forgotten basements and attics.</p>

  <div class="news-cards">
  <% @articles.first(4).each do |article| %>
    <div class="news-card content">
      <div class="news-card-content">
        <div class="news-card-img">
          <%= image_tag article.image_url %>
        </div>
        <div class="news-card-label">E-Sports</div>
        <div class="news-card-title">
          <%= article.title %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

<div class="games">
  <% @games.each do |game| %>
    <%= link_to game_path(game) do %>
    <% if game.photo.attached?  %>
      <%= cl_image_tag(game.photo.key, class: "d-block w-100 carousel-img-size") %>
    <% end %>
    <% end %>
  <% end %>
</div>
<div class="controls">
  <button class="prev"><</button>
  <button class="next">></button>
</div>

  <div class="exclusive-top">
    <h4>HUB Club</h4>
  </div>
  <div class="exclusive-container-top">
    <div class="exclusive-right-top">
      <p>
        The club is a global community of passionate, active gamers with exclusive access to our most
        sought after products, experiences and offers. We work with a club where you can pay a monthly
        fee and have access to various features and benefits. Priority access to the best of the <strong>HUB</strong>,
        with exclusive early access to all of our most anticipated releases, limited editions and
        collaborations. Access to offers and discounts from selected gaming industry partners.
        Acces to a members only forum. Access to backstage and interviews in the biggest gaming
        conventions as PAX (South, East, West), ELECTRONIC ENTERTAINMENT EXPO (E3), DREAMHACK, and more.
      </p>
    </div>
    <div class="exclusive-left-top">
    <img src="https://media0.giphy.com/media/LCmDrFzxMU7zXpOMRe/giphy.gif" alt="">
    </div>
      <div class="club-container">
        <div class="club-item">
          <i class="fas fa-fist-raised"></i>
          <p>PRIORITY AT</p>
          <p>HUB</p>
        </div>
        <div class="club-item">
          <i class="fas fa-tshirt"></i>
          <p>MEMBER-ONLY</p>
          <p>PRODUCTS</p>
        </div>
        <div class="club-item">
          <i class="fas fa-hashtag"></i>
          <p>SOCIAL NETWORK</p>
          <p>PERKS</p>
        </div>
        <div class="club-item">
          <i class="fas fa-gamepad"></i>
          <p>ACCESS HUB</p>
          <p>EXCLUSIVES</p>
        </div>
        <div class="club-item">
          <i class="fas fa-building"></i>
          <p>MEETING PLACES</p>
        </div>
      </div>
      <div class="club-button">
            <button type="button" class="btn btn-secondary club">APPLY FOR MEMBERSHIP</button>
      </div>
  </div>



  <div class="exclusive-container-bottom">
    <div class="exclusive-left-bottom">

    </div>
    <div class="exclusive-right-bottom">
    </div>






  </div>
</div>
