
<div class="topspace">
<div class="index-text">
  <h4>Browse all games</h4>
</div>
<div class="container" id="index-all">
  <div class="cards">
    <% @games.each do |game| %>
        <div class="card-category" style="background-image: url('<%= cl_image_path game.photo.key %>')">
          <%= link_to game_path(game) do %>
          <div class="new">
            <p><%= game.name %></p>
            <% user_game =  current_user.user_games.find_by(game: game) %>
              <% if user_game.nil?  %>
                <%= link_to game_user_games_path(game), method: :post do %>
                  <div class="favs">Favourite?</div>
                <% end %>
              <% else %>
                <%= link_to user_game_path(user_game), method: :delete do %>
                  <div class="favs-tick"><i class="far fa-bookmark"></i></div>
                  <div class="favs">Unfavourite?</div>
                <% end %>
              <% end %>
            </div>
           <% end %>
        </div>
    <% end %>
  </div>
</div>


<style>
  .card_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
  }
</style>





<% if false %>
<div class="container">
  <div class="card_container">

    <% @games.each do |game| %>
      <% user_game =  current_user.user_games.find_by(game: game)%>
      <%= link_to game_path(game) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path game.photo.key %>)">
          <%= game.name %><br>


        </div>
      <% end %>

    <% end %>

</div>


<% end %>






<% if false %>
<h1>All Games</h1>
<ul><% @games.each do |game| %>
  <li>
    TODELETE
    <%= game.name %>
    <% user_game =  current_user.user_games.find_by(game: game) %>
    <% if user_game.nil?  %>
      <%= link_to 'Like',  game_user_games_path(game), method: :post %>
     <% else %>
      <%= link_to 'Dislike', user_game_path(user_game), method: :delete %>
    <% end %>
  </li>
<% end %>

</ul>
<% end %>
</div>