<h1>Add a Game</h1>
</div>
  <%= simple_form_for([@game]) do |f| %>
    <%= f.input :name%>
    <%= f.input :photo, as: :file %>
    <%= f.submit :submit  %>

  <% end %>
  <%# <%= link_to "Back", game_path %> %>
</div>
