
<div class="topspace">



<h1>Add a Game</h1>



</div>
  <%= simple_form_for([@game]) do |f| %>
    <%= f.input :name%>
    <%= f.input :photo, as: :file %>
    <%= f.input :video_link %>
    <%= f.input :twitter %>
    <%= f.submit :submit  %>
  <% end %>


