<div class="topspace">

<h2>Log in</h2>





<div class="form-structor">
	<div class="signup">
		<h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
		<div class="form-holder">
			<input type="text" class="input" placeholder="Name" />
			<input type="email" class="input" placeholder="Email" />
			<input type="password" class="input" placeholder="Password" />
		</div>
		<button class="submit-btn">Sign up</button>
	</div>
	<div class="login slide-up">
		<div class="center">
			<h2 class="form-title" id="login"><span>or</span>Log in</h2>
			<div class="form-holder">
				<input type="email" class="input" placeholder="Email" />
				<input type="password" class="input" placeholder="Password" />
			</div>
			<button class="submit-btn">Log in</button>
		</div>
	</div>
</div>



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">


		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="form-inputs">
			<%= f.input :email,
						required: false,
						autofocus: true,
						input_html: { autocomplete: "email" } %>
			<%= f.input :password,
						required: false,
						input_html: { autocomplete: "current-password" } %>
			<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
		</div>

		<div class="form-actions">
			<%= f.button :submit, "Log in" %>
		</div>
		<% end %>

		<%= render "devise/shared/links" %>






    </div>
  </div>
</div>