<!DOCTYPE html>
<html>
  <head>
  
    <link href="bower_components/social-feed/css/jquery.socialfeed.css" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Codebird.js - required for TWITTER -->
    <script src="bower_components/codebird-js/codebird.js"></script>
    <!-- doT.js for rendering templates -->
    <script src="bower_components/doT/doT.min.js"></script>
    <!-- Moment.js for showing "time ago" and/or "date"-->
    <script src="bower_components/moment/min/moment.min.js"></script>
    <!-- Moment Locale to format the date to your language (eg. italian lang)-->
    <script src="bower_components/moment/locale/it.js"></script>
    <!-- Social-feed js -->
    <script src="bower_components/social-feed/js/jquery.socialfeed.js"></script>
    <title>HUB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% unless current_page?(root_path)%>
      <%= render 'shared/navbar' %>
    <% end %>
    <%# <%= render 'shared/navbar' %>
    <%# <%= render 'shared/flashes' %>

    <%= yield %>
  </body>

<footer>
  <% unless current_page?(root_path)%>
       <%= render 'shared/footer'%>
  <% end %>
 
</footer>

</html>